body {
	font-family: "Open Sans", "Arial", sans-serif;
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

img {
	vertical-align: middle;
}

* {
	box-sizing: border-box;
}

.img--round {
	border-radius: 100%;
}

.img--square {
	border-radius: 0;
}

.header {
	background: #2b7fba;
	color: #ffffff;
}

.wrapper {
	margin: 0px auto;
	padding: 70px 0;
	max-width: 1200px;
	text-align: center;
	overflow: hidden;
}

.header .wrapper {
	max-width: 1040px;
}

.footer .wrapper {
	padding: 45px 0;
	max-width: 1100px;
}

.testimonials .wrapper {
	max-width: 750px;
	text-align: left;
}

.logo-link {
	float: left;
}

.logo {
	width: 65px;
}

.nav-header {
	float: right;
	margin-top: 13px;
}

.nav-footer {
	float: left;
	margin-top: 24px;
	margin-left: 10px;
}

.footer-social {
	margin-top: 17px;
}

.list {
	list-style-type: none;
	overflow: hidden;
	margin: 0;
	padding: 0;
	font-weight: 600;
}

.list__item {
	float: left;
}

.list__item--uppercase {
	text-transform: uppercase;
}

.menu .list__item {
	font-size: .73em;
	padding: 14px 22px;
	margin: 0 5px;
	letter-spacing: 1px;
}

.footer-menu .list__item {
	padding: 0px;
	margin: 0 18px;
}

.menu .list__item:hover {
	background: rgba(16, 60, 70, 0.8);
	border-radius: 5px;
}

.clear-fix {
	clear: both;
}

.h1 {
	font-weight: 300;
	font-size: 3.2em;
	text-align: center;
	margin: 150px auto 0;
}

.h2 {
	font-weight: 300;
	font-size: 2.3em;
	margin: 0;
}

.h3 {
	font-weight: 400;
	font-size: 1.5em;
	text-transform: capitalize;
	margin-top: 35px;
}

.h6 {
	font-size: 0.95em;
	text-transform: uppercase;
	margin: 0 auto;
}

.subtitle {
	font-weight: 400;
	font-size: 1.25em;
	text-align: center;
	margin-bottom: 3.2em;
	color: #979fa8;
}

.subtitle--big {
	color: #ffffff;
	font-size: 1.5em;
	margin: 25px auto 30px;
}

.subtitle--small {
	font-size: 1em;
	margin: 5px auto 50px;
}

.paragraph {
	color: #979fa8;
	line-height: 1.6em;
}

.paragraph--big {
	font-weight: 400;
	font-size: 1.25em;
	margin: 25px auto 30px;
	max-width: 750px;
}

.paragraph:nth-child(2) {
	margin-bottom: 3.2em;
}

.paragraph--small {
	font-size: .9em;
	color: #979fa8;
	line-height: 1.6em;
}

.paragraph--small:last-child {
	margin-bottom: 1em;
}

.get-started-buttons {
	display: inline-block;
	margin: 60px auto 150px;
}

.button {
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 600;
	border: none;
}

.button--primary {
	background: #96ce4e;
	padding: 20px 35px;
	margin: 0 18px;
	border-radius: 50px;
}

.button--secondary {
	padding: 3px 0;
	margin: 0 18px;
	border-bottom: 1px solid #ffffff;
}

.button__arrow {
	/*nu a mers cu :after*/
	/*cum o pun la o distanta mai mare de text*/
	display: inline-block;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #ffffff;
	vertical-align: middle;
}

.line {
	width: 35px;
	margin: 0 auto;
	border-bottom: 4px solid #19a9d9;
}

.services {
	background: #f3f4f6;
	overflow: hidden;
}

.services-list .list__item {
	width: 33%;
	padding: 0 3em;
}

.list__item--centered {
	text-align: center;
}

.services-list img {
	width: 100%;
	max-width: 160px;
}

.features-list .list__item {
	width: 33%;
	padding: 0 50px;
}

.list__item--text-right {
	text-align: right;
}

.testimonials {
	position: relative;
	background-color: #465a6f;
	color: #ffffff;
}

.quote {
	font-size: 1.25em;
	line-height: 1.7em;
	text-align: center;
}

.quote::before {
	content: "\201C";
	font-size: 3.5em;
	color: #37afe9;
	vertical-align: -0.4em;
	line-height: 0.1em;
	margin-right: 0.25em;
}

.quote::after {
	content: "\201D";
	font-size: 3.5em;
	color: #37afe9;
	vertical-align: -0.4em;
	line-height: 0.1em;
	margin-left: 0.25em;
}

.author {
	max-width: 300px;
	margin: 40px auto 20px;
	position: relative;
	overflow: hidden;
}

.author__img {
	float: left;
	max-width: 75px;
	margin-right: 25px;
}

.author-info {
	margin-top: 0.6em;
	min-width: 10em;
	float: left;
}

.author-info__name {
	text-transform: uppercase;
	margin: 3px auto;
	font-weight: 700;
}

.author-info__company {
	margin: 3px auto;
}

.contact {
	background: linear-gradient(to right, #3294d5 0%, #3294d5 50%, #419ad5 50%, #419ad5 100%);
	color: #ffffff;
}

.form {
	width: 100%;
	max-width: 370px;
	margin: 60px auto 0 auto;
}

.field {
	overflow: hidden;
	width: 100%;
	margin-bottom: 30px;
	border-radius: 5px;
}

.field__img {
	float: left;
	width: 16%;
	height: 50px;
}

.field__input {
	float: left;
	padding: 18px 18px 17px 18px;
	border: none;
	width: 84%;
}

::-webkit-input-placeholder {
	color: #b3b8bf;
	font-family: "Open Sans", serif;
	font-size: 1.1em;
	font-weight: 600;
}

.message-field {
	color: #b3b8bf;
	width: 100%;
	height: 140px;
	border-radius: 5px;
	padding-top: 15px;
	padding-left: 20px;
	font-style: italic;
	resize: none;
	border: none;
}

.form-button {
	background: #2a435e;
	width: 100%;
	padding: 18px;
	margin: 30px auto;
	font-size: 0.95em;
	border-radius: 5px;
}

.footer {
	background: #2a435e;
	color: #ffffff;
}

.menu-social-icons .list__item {
	float: right;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	border: 1px solid #ffffff;
	padding: 6px 6px;
	margin: auto 5px;
}

#trigger {
	display: none;
}

.trigger-label {
	display: none;
}

@media only screen and (max-width: 1040px) {
	.wrapper {
		/*margin: 0 5%;*/
	}
}

@media only screen and (max-width: 768px) {
	.wrapper {
		padding: 2em;
	}
	.logo {
		float: left;
	}
	.menu-mobile {
		display: none;
	}
	.trigger-label {
		display: block;
		float: right;
		margin-top: 1em;
	}
	.trigger-label div {
		width: 1.5em;
		height: 0.15em;
		background-color: #ffffff;
		margin: 0.35em;
	}
	#trigger:checked ~ .menu-mobile {
		display: block;
	}
	#trigger:checked ~ .menu .list__item {
		width: 100%;
		font-size: 1.2em;
		font-weight: 300;
		padding: 5px 5px;
		margin: auto 0;
		text-align: center;
		background-color: rgba(150, 206, 78, .7);
		border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	}
	.h1 {
		font-size: 2em;
		margin-top: 1.5em;
	}
	.header .subtitle--big {
		font-weight: 300;
		font-size: 1.2em;
	}
	.get-started-buttons {
		margin-top: 1.5em;
		margin-bottom: 2em;
	}
	.button.button--primary {
		display: block;
		margin-bottom: 1.5em;
	}
	.h2 {
		font-size: 1.5em;
	}
	.subtitle--big {
		font-size: 1em;
	}
	.line {
		border-bottom: 2px solid #19a9d9;
	}
	.subtitle--small {
		font-size: 1em;
		margin: 1.5em auto;
	}
	.services-list .list__item {
		width: 100%;
		margin-bottom: 1.5em;
		padding: 0;
	}
	.features-list .list__item {
		width: 100%;
		margin-bottom: 1.5em;
		padding: 0;
	}
	.list__item:last-child {
		margin-bottom: 0;
	}
	.h3 {
		margin: .8em auto;
	}
	.features-list .list__item {
		text-align: center;
	}
	.paragraph__small {
		margin-bottom: 1.4em;
	}
	.paragraph__small:last-child {
		margin-bottom: 0;
	}
	.img--square {
		width: 100%;
	}
	.testimonials .wrapper {
		text-align: center;
	}
	.quote {
		font-size: 1em;
	}
	.author__img {
		float: none;
		margin: 0;
	}
	.author-info {
		float: none;
	}
	.footer .wrapper {
		text-align: center;
	}
	.logo-link {
		float: none;
	}
	.nav-footer {
		float: none;
		display: inline-block;
		margin: 1.8em auto;
	}
	.footer-social {
		display: inline-block;
	}
	.social-icons {
		margin: 0 1em;
	}
}
